<header class="header-dash">
    <div class="menu-icon" id="dashMenu">
        <span class="material-symbols-outlined">
            menu
        </span>
    </div>
</header>

<script src="/js/dashboard.js"></script>