<aside id="sidebar">
    <div class="sidebar-title">
        <div class="sidebar-icon">
            <span class="material-symbols-outlined material-icons" id="dashClose">close</span>
            <h3>User</h3>
        </div>
    </div>

    <ul class="sidebar-list">
          <a href="/dashboard">
            <li class="sidebar-list-item">
                <span class="material-symbols-outlined material-icons">
                airplane_ticket
                </span> Trips
            </li>
          </a>
          <a href="/posts">
            <li class="sidebar-list-item">
                <span class="material-symbols-outlined material-icons">
                draw
                </span> Posts
            </li>
          </a>          
          <a href="/forum">
            <li class="sidebar-list-item">
                <span class="material-symbols-outlined material-icons">
                forum
                </span> Forum
            </li>
          </a>
          <a href="#" target="_blank">
            <li class="sidebar-list-item">
              <span class="material-symbols-outlined material-icons">
                backpack
                </span> Items
            </li>
          </a>
          <a href="#" target="_blank">
            <li class="sidebar-list-item sidebar-final-item">
              <span class="material-symbols-outlined material-icons">
                logout
                </span> Log Out
            </li>
          </a>
        </ul>
</aside>
