<aside id="sidebar">
    <div class="sidebar-title">
        <div class="sidebar-icon">
            <span class="material-symbols-outlined" id="dashClose">close</span>
            <h3>User</h3>
            <a href="/update"><span class="material-symbols-outlined">
manage_accounts
</span></a>
        </div>
    </div>

    <ul class="sidebar-list">
          <a href="/trips">
            <li class="sidebar-list-item">
              <span class="material-symbols-outlined">
                airplane_ticket
                </span> Trips 
            </li>
          </a>
          <a href="/search">
            <li class="sidebar-list-item">
              <span class="material-symbols-outlined">
                map
                </span> Explorer 
            </li>
          </a>
          <a href="/forum">
          <li class="sidebar-list-item">
              <span class="material-symbols-outlined">
                forum
                </span> Forum
            </li>
          </a>
        </ul>
</aside>

<script src="/js/dashboard.js"></script>