<aside id="sidebar">
    <div class="sidebar-title">
        <div class="sidebar-icon">
            <span class="material-symbols-outlined" id="dashClose">close</span>
            <h3>User</h3>
            <a href="/update"><span class="material-symbols-outlined">
manage_accounts
</span></a>
        </div>
    </div>

    <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/dashboard">
              <span class="material-symbols-outlined">
                airplane_ticket
                </span> Trips
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/post">
              <span class="material-symbols-outlined">
                sticky_note
                </span> Posts
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/forum">
              <span class="material-symbols-outlined">
                forum
                </span> Forum
            </a>
          </li>
          
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-symbols-outlined">
                logout
                </span> Log Out
            </a>
          </li>
        </ul>
</aside>

<script src="/js/dashboard.js"></script>