<!-- Footer -->
      <div class="main">
        <div class="footer">
          <div class="footer-header">
            Start your journey with TravIS and create memories that last a
            lifetime. Safe travels!
          </div>
          <div class="footer-links">
            <div class="link">
              <h5>Navigate</h5>
              <p>Home</p>
              <p>Get Started</p>
              <p>Discover</p>
              <p>Learn More</p>
            </div>
            <div class="link">
              <h5>Company</h5>
              <p>About Us</p>
              <p>Services</p>
              <p>Team Info</p>
            </div>
            <div class="link">
              <h5>Contact</h5>
              <p><a href="https://github.com/UofTTeam2/TravIs" target="_blank">Github</a></p>
              <p>Instagram</p>
              <p>Twitter</p>
              <p>Facebook</p>
            </div>
          </div>
        </div>
        
        <div class="copyright">
          <p>© 2023 TravIs App.</p>
        </div>
        
      </div>
      <!-- End of Footer -->