<div class="main main-footer">
    <!-- Footer -->
<div class='footer'>
    <div class='footer-header'>
        Start your journey with TravIs and create memories that last a lifetime.
        Safe travels!
    </div>
    <div class='footer-links'>
        <div class='link'>
            <h5><a href="https://github.com/UofTTeam2/TravIs" target="_blank">Contact Us</a></h5>
        </div>
    </div>
</div>

<div class='copyright'>
    <p>© 2023 TravIs App.</p>
</div>
<!-- End of Footer -->
</div>