<!-- Navbar -->
<div class='main'>
        <!-- Navbar -->
        <div class='navbar'>
            <div class="logo-title">
              <img
                class='logo'
                href='#'
                src='/images/TravIs-Logos/android-chrome-512x512.png'
                alt='TravIs Logo'
              />
              <p class="site-title">TravIS</p>
            </div>
            <div class='nav-links'>
                <a href='/' class='item'>Home</a>
                <a href='/dashboard' class='item'>Dashboard</a>
                <!-- {{#if isDashboard}}
                    <a href='#' class='item' id='scroll'>About Us</a>
                {{/if}}  -->
                <!-- {{#if loggedIn}}
                    <a href='/api/forum/dashboard' class='item'>Dashboard</a>
                {{/if}} -->
            </div>
            <div class='nav-buttons' id='navMenu'>
                <!-- {{#unless isDashboard}} -->
                    {{#if loggedIn}}
                        <button class='nav-btn selected' id='logOut logoff-button'>LOG OUT</button>
                    {{else}}
                        <button
                            class='nav-btn selected'
                            id='loginBtn login-button'
                        >LOGIN</button>
                        <button class='nav-btn' id='signupBtn'>SIGN UP</button>
                    {{/if}}
                <!-- {{/unless}} -->
            </div>

            <button class='toggler'>
                <i class='bx bx-menu'></i>
            </button>
        </div>
        <!-- End of Navbar -->
    </div>
    <!--
    <script src='/js/login.js'></script>
    <script src='/js/logout.js'></script>
    <div class='nav-links'>
        <span class='item selected'>Home</span>
        <span id='scroll' class='item'>About Us</span>
        {{#if loggedIn}}
            <span class='item'>Dashboard</span>
        {{/if}}
    </div>
    <div class='nav-buttons' id='navMenu'>
        {{#if loggedIn}}
            <form action="/api/forum/fakelogout" method="POST">
            <button class='nav-btn selected' id='logOut'>LOG OUT</button>
            </form>
        {{else}}
            <form action="/api/forum/fakelogin" method="POST">
            <button class='nav-btn selected' id='loginBtn'>LOGIN</button>
            </form>
            <button class='nav-btn' id='signupBtn'>SIGN UP</button>
        {{/if}}
    </div>
    <button class='toggler'>
        <i class='bx bx-menu'></i>
    </button>
    -->
<!-- End of Navbar -->
<!--
<script src='/js/login.js'></script>
<script src='/js/logout.js'></script>
-->