<!-- Navbar -->
<div class='main'>
    <div class='navbar'>
        <img
            class='logo'
            href='#'
            src='images/TravIs-Logos/android-chrome-512x512.png'
            alt='TravIs Logo'
        />
        <div class='nav-links'>
            <a href='/homepage' class='item'>Home</a>
            <a href='#' class='item' id='scroll'>About Us</a>
            <a href='/dashboard' class='item'>Dashboard</a>
        </div>

        <div class='nav-buttons' id='navMenu'>
            <button class='nav-btn selected' id='loginBtn'>LOGIN</button>
            <button class='nav-btn' id='signupBtn'>SIGN UP</button>
            <button class='nav-btn selected' id='logOut'>LOG OUT</button>
        </div>

        <button class='toggler'>
            <i class='bx bx-menu'></i>
        </button>
    </div>
</div>

<!-- End of Navbar -->