<!-- Navbar -->
<div class='navbar'>
    <img
        class='logo'
        href='#'
        src='images/TravIs-Logos/android-chrome-512x512.png'
        alt='TravIs Logo'
    />
    <div class='nav-links'>
        <span class='item selected'>Home</span>
        <span id='scroll' class='item'>About Us</span>
    </div>
    <div class='nav-buttons' id='navMenu'>
        <button class='nav-btn selected' id='loginBtn'>LOGIN</button>
        <button class='nav-btn' id='signupBtn'>SIGN UP</button>
    </div>

    <button class='toggler'>
        <i class='bx bx-menu'></i>
    </button>
</div>
<!-- End of Navbar -->