<!-- Navbar -->
<div class='main'>
    <div class='navbar'>
        <img
            class='logo'
            href='#'
            src='images/TravIs-Logos/android-chrome-512x512.png'
            alt='TravIs Logo'
        />
        <div class='nav-links'>
            <a href='/' class='item'>Home</a>
            {{#unless isDashboard}}
                <a href='#' class='item' id='scroll'>About Us</a>
            {{/unless}}
            {{#if loggedIn}}
                <a href='/trips' class='item'>Dashboard</a>
            {{/if}}
        </div>

        <div class='nav-buttons' id='navMenu'>
            {{#unless isDashboard}}
                {{#if loggedIn}}
                    <button class='nav-btn selected' id='logOut'>LOG OUT</button>

                {{else}}
                    <button
                        class='nav-btn selected'
                        id='loginBtn'
                    >LOGIN</button>
                    <button class='nav-btn' id='signupBtn'>SIGN UP</button>

                {{/if}}
            {{/unless}}
        </div>

        <button class='toggler'>
            <i class='bx bx-menu'></i>
        </button>
    </div>
</div>

<!-- End of Navbar -->
<script src='/js/index.js'></script>
<script src="/js/logout.js"></script>