<!-- renders a category title & a partial for each item related to accommodation, if any exist -->
{{#if accommodationItems}}
  <div class = "trip-section-category">
    
    <h2 class = "item-category-title">Accomodation</h2>
    {{#each accommodationItems as |accommodationItem|}}
      {{> view-item-details}}
    {{/each}}

  </div>
{{/if}}


<!-- renders a category title & a partial for each item related to food, if any exist -->
{{#if foodItems}}
  <div class = "trip-section-category">

    <h2 class = "item-category-title">Food</h2>
    {{#each foodItems as |foodItem|}}
      {{> view-item-details}}
    {{/each}}

  </div>
{{/if}}

<!-- renders a category title & a partial for each item related to transport, if any exist -->
{{#if transportItems}}
  <div class = "trip-section-category">

    <h2 class = "item-category-title">Transport</h2>
    {{#each transportItems as |transportItem|}}
      {{> view-item-details}}
    {{/each}}

  </div>
{{/if}}

<!-- renders a category title & a partial for each item relating to activities / things to do
     (entertainment, shopping, historical sites to visit, etc.) if any exist -->
{{#if activityItems}}
  <div class = "trip-section-category">

    <h2 class = "item-category-title">Activities</h2>
    {{#each activityItems as |activityItem|}}
      {{> view-item-details}}
    {{/each}}

  </div>
{{/if}}

<!-- renders a category title & a partial for any remaining miscellaneous items, if any exist -->
{{#if miscItems}}
  <div class = "trip-section-category">

    <h2 class = "item-category-title">Misc</h2>
    {{#each miscItems as |miscItem|}}
      {{> view-item-details}}
    {{/each}}

  </div>
{{/if}}