{{{body}}}

<div id="errorModal" class="modal">
  <div class="modal-content">
    <span class="close" id="closeModal">&times;</span>
    <p id="modalErrorMessage">Error message goes here.</p>
  </div>
</div>