<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset = "UTF-8">
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
	<meta http-equiv = "X-UA-Compatible" content = "ie=edge"/>
  <link rel = "icon" type = "image/png" href = "../../public/images/TravIs-Logos/favicon.ico">
  <link rel = "stylesheet" href = "//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel = "stylesheet" href = "//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
  <link rel = "stylesheet" type = "text/css" href = "../../public/css/normalize.css">
  <link rel = "stylesheet" type = "text/css" href = "../../public/css/style.css">
  <script src = "https://cdn.tailwindcss.com"></script>
  <title>TravIS</title>

</head>

<body>

<div>

  {{{body}}}

</div>

<div id="errorModal" class="modal">
  <div class="modal-content">
    <span class="close" id="closeModal">&times;</span>
    <p id="modalErrorMessage">Error message goes here.</p>
  </div>
</div>

<script src = "https://code.jquery.com/jquery-1.12.4.js"></script>
<script src = "https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src = "//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script>$(() => $(".timepicker").timepicker());</script>
<script>$(() => $(".datepicker").datepicker());</script>

</body>

</html>