<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{{headExtra}}}
    <link rel="stylesheet" href="/css/style.css">
    <title>TravIs App</title>
</head>

<body>
    <div class="main">
        {{> header}}
        
        {{{bodyContent}}}

        {{> footer}}
    </div>

    <script src="/js/index.js"></script>
</body>

</html>
