<!-- placeholder for trip title -->
<div class = "bad-request-container">

  <div class = "bad-request-content">

    <h1 class = "bad-request-header">Bad Request</h1>
    <a href = "/">Return to landing page</a>
    
  </div>
</div>