<div class="grid-container">
    {{> dashSide}}
    <main class="main-container">
    <div class="main-title">
        <p class="font-weight-bold">TRIPS</p>
    </div>

    <div class="main-cards">
          <a href="/trips/edit" class="card-link">
            <div class="card">
              <div class="card-inner">
                <p class="text-primary font-weight-bold">Japan</p>
              </div>
              <p class="text-secondary">Dec 12th, 2023</p>
            </div>
          </a>

          <a href="/trips/edit" class="card-link">
            <div class="card">
              <div class="card-inner">
                <p class="text-primary font-weight-bold">Berlin</p>
              </div>
              <p class="text-secondary">March 21st,2024</p>
            </div>
          </a>

          <a href="/trips/edit" class="card-link">
            <div class="card">
              <div class="card-inner">
                <p class="text-primary font-weight-bold">Niagara Falls</p>
              </div>
              <p class="text-secondary">April 04th, 2024</p>
            </div>
          </a>

          <div class="card add-card">
            <div class="card-inner">
              <p class="text-primary font-weight-bold">+</p>
            </div>
            <p class="text-secondary">Add New Trip</p>
          </div>
        </div>
</main>

</div>

<script src="dashboard.js"></script>
