<!-- placeholder for trip title -->
{{tripTitle}}

<!-- button to switch to view mode -->
<button>Save</button>

<!-- render a partial for each section of the trip -->
{{#each sections as |section|}}
  {{> edit-section-details}}
{{/each}}