<div class="grid-container">
{{> dashSide}}
<main class="main-container">
<div class="main-title">
        <p class="font-weight-bold extra-space">DISCUSSION FORUM</p>
</div>
<section class="forum-main">
        {{#each topics}}
        {{> forum-details}}
        {{/each}}
</section>
</main>
</div>