
        <link
            href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
            rel='stylesheet'
        />

    <div class="main">
        <!-- Top Container -->
        <div class='top-container homepage-greeting'>
            <div class='info-box'>
                <p class='header'>
                    Your perfect journey, made with care and personal attention
                </p>
                <p class='info-text'>
                    Dive into your next adventure with confidence. Whether
                    you're a city explorer, a nature lover, or a food
                    enthusiast, TravIs is your trusted travel companion.
                </p>
            </div>
            <div class='img-box'>
                <img
                    src='/images/nick-baker-VuPIUePS_vU-unsplash.jpg'
                    class='img-pic'
                />
            </div>
        </div>
        <!-- End of Top Container -->

        <!-- About Us -->
        <div class='about-us'>
            <p class='header'>About Us</p>
            <p class='info-text'>
                We are individuals as should be our vacations and services
            </p>
            <div class='items-box'>
                <div class='item-container'>
                    <div class='item'>
                        <i class='bx bx-edit'></i>
                    </div>
                    <p>Trip Creation</p>
                </div>
                <div class='item-container'>
                    <div class='item'>
                        <i class='bx bx-trip'></i>
                    </div>
                    <p>Travel Recommendation</p>
                </div>
                <div class='item-container'>
                    <div class='item'>
                        <i class='bx bx-wallet-alt'></i>
                    </div>
                    <p>Expense Tracker</p>
                </div>
                <div class='item-container'>
                    <div class='item'>
                        <i class='bx bx-group'></i>
                    </div>
                    <p>Travel Comunity</p>
                </div>
            </div>
        </div>
        <!-- End of About Us -->
    </div>