      <div class="top-container">
        <div class="info-box">
          <p class="header">
            Your perfect journey, made with care and personal attention
          </p>
          <p class="info-text">
            Dive into your next adventure with confidence. Whether you're a city
            explorer, a nature lover, or a food enthusiast, TravIS is your
            trusted travel companion.
          </p>
          <!--
                <div class="info-buttons">
                    <button class="info-btn selected">Explore</button>
                    <button class="info-btn nav-btn">Dashboard</button>
                </div> -->
        </div>
        <div class="img-box">
          <img
            src="/images/nick-baker-VuPIUePS_vU-unsplash.jpg"
            class="trav-pic"
          />
        </div>
      </div>