{{#extend 'layouts/main'}}
    {{#content 'headExtra'}}
        <link
            href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
            rel='stylesheet'
        />
    {{/content}}

    {{#content 'bodyContent'}}
        <!-- Top Container -->
        <div class='top-container'>
            <div class='info-box'>
                <p class='header'>
                    Your perfect journey, made with care and personal attention
                </p>
                <p class='info-text'>
                    Dive into your next adventure with confidence. Whether
                    you're a city explorer, a nature lover, or a food
                    enthusiast, TravIs is your trusted travel companion.
                </p>
            </div>
            <div class='nft-box'>
                <img
                    src='/TravIs/public/images/nick-baker-VuPIUePS_vU-unsplash.jpg'
                    class='nft-pic'
                />
            </div>
        </div>
        <!-- End of Top Container -->

        <!-- About Us -->
        <div class='about-us'>
            <p class='header'>About Us</p>
            <p class='info-text'>
                We are individuals as should be our vacations and services
            </p>
            <div class='items-box'>
                <div class='item-container'>
                    <div class='item'>
                        <i class='bx bxs-backpack'></i>
                    </div>
                    <p>Travel recommendations</p>
                </div>
                <div class='item-container'>
                    <div class='item'>
                        <i class='bx bx-wallet-alt'></i>
                    </div>
                    <p>Expense tracker</p>
                </div>
                <div class='item-container'>
                    <div class='item'>
                        <i class='bx bxs-map-pin'></i>
                    </div>
                    <p>Interactive Maps</p>
                </div>
                <div class='item-container'>
                    <div class='item'>
                        <i class='bx bx-rocket'></i>
                    </div>
                    <p>Very fast transactions</p>
                </div>
            </div>
        </div>
        <!-- End of About Us -->
    {{/content}}
{{/extend}}