<section id="searchsection">
    <div class="search">
        <h1>City Explorer</h1>
        <p>Welcome to the city explorer page. Here you can find information about top rated points of interest, 
            tours and activities, safety scores, and location scores for a city. Enter a city name to get started.
        </p>
        <form id="searchForm">
            <label for="cityInput">Enter City:</label>
            <input type="text" id="cityInput" name="city">
            <button type="submit">Search</button>
        </form>
    </div>
</section>

<div id='tester'>


</div>
<script src="js/poiTest.js"></script>
