<div class="grid-container">
{{> dashSide}}
<main class="main-container">
<div class="update">
<section>
    <div class="update-card">
        <h2 class="explorer-text">City Explorer</h2>
        <h3 class="explorer-paragraph">Welcome to the city explorer page. Here you can find information about top rated points of interest, 
            tours and activities, safety scores, and location scores for a city. Enter a city name to get started.
        </h3>
        <form id="searchForm" class="explorer-form">
            <label for="cityInput" class="explorer-text">Enter City:</label>
            <input type="text" id="cityInput" name="city">
            <button id="explorer-submit-button" type="submit">Search</button>
        </form>
    </div>
</section>
</div>
</main>
</div>
<script src="js/citySearch.js"></script>
