<div class="update">
    <div class='update-card'>
    <h2>Update</h2>
    <h3>Update your credentials</h3>

    <form class='update-form'>
        <input type='username' placeholder='Username' id='updateUsername' />
        <input type='password' placeholder='Password' id='updatePassword' />
        <button type='submit' id='updateUser'>update</button>
        <button type='submit' id='deleteUser'>delete</button>
    </form>
</div>
</div>

<script src='/js/logout.js'></script>
<script src='/js/navbar.js'></script>
<script src='/js/updateDelUser.js'></script>