<!-- placeholder for trip title -->
{{tripTitle}}

<!-- button to switch to edit mode -->
<button>Edit</button>

<!-- render a partial for each section of the trip -->
{{#each sections as |section|}}
  {{> view-section-details}}
{{/each}}