/* Login/Signup Error Modal ----> */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
/* <---- Login/Signup Error Modal */

/* <---- poi.handlebars */
.hide {
    display: none;
}
.search {
    text-align: center;
    border: solid #888;
    padding-bottom: 20px;
    border-radius: 10px;
}
#recommendations {
    margin: 20px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.poipic {
    max-width: 160px;
}