*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #22252A;
    margin: 0;
    padding: 0;
}

body .container {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    letter-spacing: 0.3px;
}

.material-symbols-outlined {
    vertical-align: middle;
    line-height: 1px;
    cursor: pointer;
    font-size: 36px;
  }

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin: 50px auto;
}

.trip-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trip-title-header {
    font-size: 2em;
    color: #000;
    margin-top: 50px;
}

.trip-date-header {
    font-size: 1.25rem;
    color: #555;
    margin-bottom: 10px;
}

.trip-title-container a {
    font-size: 1.25rem;
    color: #555;
    text-decoration: none;
}

.trip-btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.total-expenses {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: #FFC62C;
    font-size: 1em;
    transition: color 0.3s ease;
}

button:hover {
    color: #B7990D;
}

.material-symbols-outlined {
    margin-right: 5px;
}

.trip-section-category{
    margin: 10px;
}

.trip-sections-container {
    width: 90%;
    margin-top: 20px;
    padding: 20px;
}

.itinerary-section-container {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 25px 100px 25px 25px; 
    background: linear-gradient(to right, #FFC62C, #FFAC2C);  
}

.section-title-container {
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.section-title-header {
    font-size: 1.6em;
    margin: 0;
    display: inline-block;
    background-color: #505672;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 10px 30px 10px 10px;
}

.trip-categories-container {
    margin-top: 20px;
}

.item-category-title {
    font-size: 1.35em;
    color: #fff;
    display: inline-block;
    background-color: #505672;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px 10px 30px 10px;
}

.itinerary-item-container {
    background-color: #f9f9f9;
    padding: 20px 25px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.item-title a {
    color: #2196f3;
}

.item-title {
    text-decoration: none;
    font-size: 1.2em;
    display: block;
    margin-bottom: 15px;
}

.item-detail {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.item-detail h4, 
.item-detail p {
    margin: 0;
}

.item-detail h4 {
    margin-right: 5px;  /* Espacio entre la etiqueta y el valor */
}

.item-image {
    max-width: 100%;
    margin-top: 15px;
    border-radius: 5px;
}

.item-detail.notes h4 {
    margin-right: 5px;
}

.item-detail.notes p {
    flex: 1;
}

/* Estilo inicial para ocultar el contenido */
.toggle-content {
    display: none;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}

/* Estilo para el botón de toggle */
.toggle-button {
    cursor: pointer;
}

/* Cuando el usuario hace clic en el botón de toggle, mostramos el contenido */
.toggle-content.active {
    display: block;
}


/* Login/Signup Error Modal ----> */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
/* <---- Login/Signup Error Modal */
/* Ethan's Itinerary Modal stuff ----> */

.settings-modal div {
    position: relative;
}

.itinerary-settings-close {
    position: absolute;
    top: 5px;
    right: 14px;
}

/* sets the 'switch' label to be roughly rectangular, and for internal elements to be displayed side-by-side*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* hides the default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* defines the appearance & transition settings for the slider container */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaa;
    transition: .4s;
}

/* defines the appearance & transition settings of the "circle" within the slider container */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #505672;
    transition: .4s;
}

/* sets the background colour of the "checkbox" input & "slider" span to make an itinerary public */
.public-checkbox:checked + .slider {
    background-color: #F8B500;
}

/* moves the white circle within the slider box to the right when the toggle is clicked */
.public-checkbox:checked + .slider:before {
    transform: translateX(26px);
}

/* rounds the edges of the slider container */
.slider.round {
    border-radius: 34px;
}

/* rounds the edges of the white "shape" within the slider container (it becomes a circle) */
.slider.round:before {
    border-radius: 50%;
}

/* <---- Ethan's Itinerary Modal stuff */
